.top-videos{
    .header{
        height: 50px;
    }
    .topVideo-tranding{
        padding: 25px 30px;
        .topVideo{
            .topVideos-title{
                font-size: 2rem;
                text-transform: uppercase;
                padding-bottom: 20px;
                color: #8A91A1;
                border-bottom: 2px solid #8A91A1;
            }
            .videosContainer{
                padding: 30px 0 0 0;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 20px;
                .single-video{
                    padding: 5px;
                    // width: 320px;
                    .video-thumbnail{
                        img{
                            width: 100%;
                        }
                    }
                    .video-title{
                        font-size: 1.5rem;
                    }
                    .video-author{
                        font-size: 1rem;
                    }
                }
            }
        }
        .whatstrending{
            // background: red;
            .trendingTitle{
                font-size: 2rem;
                text-transform: uppercase;
                padding-bottom: 20px;
                color: #8A91A1;
                border-bottom: 2px solid #8A91A1;
            }
            .trendingContainer{
                padding: 30px 0 0 0;
                .onetrend{
                    background: #fff;
                    display: grid;
                    grid-template-columns: 45px 1fr 100px;
                    grid-column-gap: 10px;
                    grid-row-gap: 15px;
                    padding: 5px;
                    
                    .id{
                        padding: 35px 0;
                        background: red;
                    }
                    .hashtagname{
                        padding: 35px 0;
                        background: yellow;
                    }
                    .likeno{
                        padding: 35px 0;
                        background: blue;
                    }
                }
            }
        }
    }
}